---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const jamsEntries = await getCollection('jams');
  return jamsEntries.map(entry => ({
    params: { slug: `jams/${entry.slug}` }, props: { entry },
  }));
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const imagePath = `/images/${entry.data.imagePath}`;
---

<Layout title={entry.data.title}>
    <main>
      <h1>{entry.data.title}</h1>
      <img src={imagePath} alt={entry.data.title} class="hero-image" />
      <div class="main-content">
        <article>
          <!-- <h5>{entry.data.description}</h5> -->
          <Content />
        </article>
        <aside>
          <p>Content aging process began: {entry.data.date.toDateString()}</p>
          <h5>{entry.data.description}</h5>
          <!-- Feature: resources -->
        </aside>
      </div>
    </main>
</Layout>
<style>
  main {
    max-width: var(--size-lg);
    margin: 0 auto;
  }
  h1 {
    position: relative;
    left: -100px;
    background: var(--surface-3);
    top: 61px;
    border-radius: var(--radius-2);
    padding: var(--size-3);
    z-index: 1;
  }
  .hero-image {
    -webkit-mask: var(--mask-edge-zig-zag-right);
  }
  .main-content img {
    /* Figure out how to get image to go edge to edge */
    position: relative;
    left: -49px !important;
    max-inline-size: 118% !important;
  }
  .main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: var(--size-8);
    position: relative;
    top: -100px;
    left: 100px;
  }
  aside h5 {
    position: sticky;
    top: 1rem;
  }
  aside p {
    border-radius: var(--radius-blob-1);
    background-color: var(--surface-2);
    /* max-width: 200px; */
    padding: 2rem;
  }
  article {
    background-color: var(--surface-2);
    border-radius: var(--radius-3);
    padding:var(--size-8);
    /* -webkit-mask: var(--mask-edge-zig-zag-right); */
  }
</style>