---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const jamsEntries = await getCollection('jams');
  return jamsEntries.map(entry => ({
    params: { slug: `jams/${entry.slug}` }, props: { entry },
  }));
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <p>Published by {entry.data.author} on: {entry.data.date.toDateString()}</p>
    <Content />
</Layout>