---
import { Image } from "astro:assets";
import { getSortedPosts } from "../lib/getSortedPosts";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import RadTwoCol from "../components/rad/RadTwoCol.astro";
import RadPostTeaser from "../components/rad/RadPostTeaser.astro";

import homeImage from "../assets/perry_weather.jpg";

const posts = await getSortedPosts(3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <RadTwoCol>
        <div class="primary">
          <h1>BrianPerry.dev</h1>
          <h2 class="subhead">A serious and professional website</h2>
          <p>
            I'm a <a href="https://github.com/backlineint">web developer</a>
            and a <a href="https://www.drupal.org/u/brianperry"
              >member of the Drupal community</a
            > who often <a href="https://noti.st/brianperry">presents</a> at tech
            events. I live with a super awesome family in the Chicago suburbs and
            I really like Nintendo.
          </p>
          <h3>Latest Posts</h3>
          <ul>
            {
              posts.map((entry) => (
                <li>
                  <RadPostTeaser post={entry} />
                </li>
              ))
            }
          </ul>
        </div>
        <div class="secondary">
          <Image
            src={homeImage}
            alt="Brian with a weather station"
            class="home-image"
          />
          <h3>Recent Projects</h3>
          <ul>
            <li>
              <a href="https://www.drupal.org/project/api_client"
                >Drupal API Client</a
              > - A JSON:API Client for Drupal funded by The Pitch-burgh Innovation
              Contest.
            </li>
            <li>
              <a href="https://www.drupal.org/project/same_page_preview"
                >Same Page Preview</a
              > - Side-by-side live preview when editing content in Drupal.
            </li>
          </ul>
          <h3>Currently Enjoying</h3>
          <ul>
            <li>
              <a href="https://www.youtube.com/c/Taskmaster"
                >Taskmaster</a
              > - A British panel game show about rules and how to break them. Endless seasons available on YouTube.
            </li>
            <li>
              <a href="https://open.spotify.com/album/6NTKghrzxTu3RRlfMJkSaA">Hot Water Music - VOWS</a> - no idea how a punk band that has been around this long keeps making albums this essential.
            </li>
            <li>
              <a href="https://www.animalwell.net"
                >Animal Well</a
              > - a puzzle platformer with deep, deep secrets. Occasionally inscrutable, but frequently makes you feel like a genius.
            </li>
          </ul>
        </div>
      </RadTwoCol>
    </main>
    <Footer />
    <style>
      main {
        width: 1250px;
      }
      img {
        box-shadow: var(--box-shadow);
        &.home-image {
          @media (max-width: 1024px) {
            width: 100%;
            max-width: var(--size-content-2);
            margin: var(--size-3) auto var(--size-7) auto;
          }
        }
      }
      :where(li) {
        padding-inline-start: 0;
      }
      :where(li) {
        max-inline-size: unset;
      }
      h3 {
        margin: var(--size-5) 0 var(--size-5) 0;
      }

      .primary {
        & h2.subhead {
          font-size: var(--font-size-5);
          line-height: var(--font-lineheight-2);
        }
        /* TODO: Abstract list styles into a list component */
        & ul {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        & ul li {
          width: 100%;
          padding-bottom: var(--size-7);
          border-bottom: 2px solid var(--surface-2);
        }
        & ul li:last-of-type {
          border-bottom: 0;
        }
        & ul li * {
          text-decoration: none;
          transition: 0.2s ease;
        }
        & ul li a {
          display: block;
        }
        & ul li a:hover h4,
        & ul li a:hover .date {
          color: rgb(var(--accent));
        }
        & ul a:hover img,
        & ul a:hover .description {
          box-shadow: var(--shadow-4);
        }
      }
      .secondary {
        & ul {
          max-inline-size: var(--size-content-3);
        }
      }
    </style>
  </body>
</html>
