---
import FormattedDate from "../../components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
  post:
    | CollectionEntry<"posts">
    | CollectionEntry<"til">
    | CollectionEntry<"jams">;
};

const { title, date, description, imagePath, alt, tags } = Astro.props.post.data;
const { collection, slug } = Astro.props.post;
const href = `/${collection}/${slug}`;
---

<article class:list={["row", { noimg: !imagePath }]}>
  <div>
    <div class="kicker rk">
      <FormattedDate date={new Date(date)} />
    </div>
    <h3>
      <a href={href}>{title} <span class="arr">→</span></a>
    </h3>
    <p>{description}</p>
    {
      tags && tags.length > 0 && (
        <div class="tags">
          {tags.map((tag) => (
            <span class="tag">{tag}</span>
          ))}
        </div>
      )
    }
  </div>
  {
    imagePath && (
      <a href={href} class="thumb">
        <Image src={imagePath} alt={alt ? alt : ""} width="336" height="231" />
      </a>
    )
  }
</article>
