---
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";

interface Props {
  post: Object;
}

const { title, date, description, imagePath, alt } = Astro.props.post.data;
---

<rad-post-teaser>
  <h4 class="title">
    {title}
  </h4>
  <p class="date">
    <FormattedDate date={date} />
  </p>
  {imagePath && <Image src={imagePath} alt={alt} />}
  <p>
    {description}
  </p>
</rad-post-teaser>

<style>
  rad-post-teaser {
    & .title {
      margin: 0;
      color: var(--text-1);
      line-height: 1;
    }
    & .date {
      margin: 0;
      color: var(--text-2);
    }
    & img {
      /* margin-bottom: 0.5rem; */
      margin-top: var(--size-3);
      border-radius: 12px;
      aspect-ratio: 16 / 9;
      /* aspect-ratio: 1 / 0.5; */
      object-fit: cover;
    }
  }
</style>
